@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&family=Nunito+Sans:ital,wght@0,300;1,400&family=Nunito:ital,wght@0,500;1,300&family=Open+Sans:wght@300&family=Playfair+Display:ital@0;1&display=swap");

.menu {
  display: flex;
  /* flex-wrap: wrap;
    justify-content: center; */
}

.menu img {
  padding: 10px 40px;
  width: 70%;
  border-radius: 20px;
}

.me{
    display: flex;
}

.card {
  /* display: flex;
    flex-wrap: wrap;
    justify-content: center; */
  /* width: 20%; */
  font-family: "Nunito Sans", sans-serif;
  border-radius: 20px;
  margin: 40px 20px;
  padding: 10px;
  background: rgb(71, 191, 227);
  text-align: center;
  cursor: pointer;
  /* height: 30%; */
}

@media (max-width: 815px) {
  .me {
    flex-direction: column;
  }
}

@media (max-width: 500px) {
    .menu {
      flex-direction: column;
    }
  }
